* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Schoolbell";
  font-size: 120%;
  background-image: url("./static/fond_large.png");
  background-size: 100%;
  background-repeat: repeat;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3370a3;
  color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0px 3%;
}
header > div {
  display: flex;
  flex-direction: row;
}
header > div > img {
  height: 40px;
  padding-top: 5px;
}
header > div > p {
  font-size: 150%;
  margin-top: 4px;
}

.menu {
  padding-left: 10%;
}
.menu > a {
  line-height: 50px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 90%;
  letter-spacing: 2px;
}
iframe {
  display: block;
  margin: auto;
}
.page {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
#intro > div {
  position: relative;
}
#intro > div > img {
  position: absolute;
  top: -150px;
  z-index: -1;
  left: 25%;
}
#jeu {
  padding-top: 0px;
}
.webgl-content {
  position: absolute;
  bottom: -160px;
}
#timer {
  margin: 0px;
}
#play {
  position: absolute;
  background-image: url("./static/maison.png");
  background-size: cover;
  height: 500px;
  width: 960px;
  margin: auto;
  top: 0px;
}
.far {
  display: block;
  line-height: 500px;
  margin: auto;
  color: white;
  font-size: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-100px);
}
.page {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.page > p {
  margin: 30px 0;
}
h1 {
  text-align: center;
}
.presentation {
  display: flex;
  flex-direction: row;
}
.info {
  width: 20%;
  padding: 10px;
  font-size: 100%;
}
.image {
  width: 100%;
  border-radius: 50%;
  border: 8px mediumvioletred solid;
  filter: grayscale(100%);
  transition: all 800ms;
}
.image:hover {
  transform: rotate(360deg);
  filter: grayscale(0%);
  cursor: pointer;
}

.info > h3 {
  text-align: center;
  margin-bottom: 0;
}
.info > h5 {
  text-align: center;
  margin-top: 5px;
}
.bio {
  position: absolute;
  border: 2px mediumvioletred solid;
  background-color: white;
  width: 80%;
  padding: 15px;
  top: 120px;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
